<div>
    <div ng-if="state == 'create'">
        <h1> ADD NEW BOOK </h1>
    </div>
    <div ng-if="state == 'edit'">
        <h1> EDIT BOOK </h1>
    </div>
    
    <div class="container" >
        <div class="input-group">
            <div>
                    <label> Title </label>
                    <input class="form-control" type="text" ng-model="book.title" value="book.title" placeholder="Book Title"/>
            </div>
            <div>
                    <label> Author </label>
                    <input class="form-control" type="text"ng-model="book.author" value="book.author" placeholder="Book Author"/>
            </div>
            <div>
                    <label> Sinopses </label>
                    <input class="form-control" type="text" ng-model="book.description" value="book.description" placeholder="Book Sinopses"/>
            </div>
        </div>
        <br>
        <div>
            <button class="btn btn-primary" ng-if="state == 'create'" ng-click="addBook(book)" >Submit </button>
            <button class="btn btn-primary" ng-if="state == 'edit'" ng-click="save(book)" >Save </button>
        </div>
    </div>
</div>