<div class="jumbotron">
    <div class="row vertical-center-row">
        <h3 class="text-center col-md-4 col-md-offset-4"  >WELCOME TO MY LIBRARY </h3>
    </div>
    <section>
        <p>Curabitur eget fringilla nibh. 
            Pellentesque eu dolor at tortor gravida sodales. 
            Donec tempus, purus bibendum ultrices sagittis, dui tortor laoreet velit, vitae imperdiet augue sapien eget elit. Pellentesque ut convallis ex. Sed varius luctus scelerisque.
             Aliquam diam purus, placerat nec velit eget, fringilla vestibulum magna
        </p>
    </section>
</div>